section{
				color: #c6d4df;
			}
			section h1{
			}
			section .form-cont{
				width: 600px;
				margin: auto;
				padding: 20px 40px;
				background:#12354b;
				overflow: hidden;
			}
			section .form-cont .col-lg-12{
				padding: 0px;
				border-bottom: 1px solid gray;
				padding:17px 0px;
			}
			section .form-cont .col-lg-12 span{
				color: red;
			}
			section .form-cont .col-lg-12.no-border{
				padding-bottom: 0px;
			}
			section p{
				line-height: 24px;
			}
			section input{
				outline: none;
				color: white;
				width: 222px;
				border-radius: 3px;
				background: black;
				border: none;
				padding: 5px 3px;
				box-shadow: 0px 0px 2px 0px white inset;
			}
			section .submit{
				width: 140px;
				padding:15px 0px;
			}
			input ~ span{
				display:none;
			}